<header>
  <div class="headerTitle">eMessage</div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li><a href="/messageForm">Post message</a></li>
    </ul>
  </nav>
</header>
