<%- include('header') %>
<form action="post" method="post">
  <label for="name">User name:</label>
  <input type="text" id="name" name="user_name" />
  <label for="msg">Message:</label>
  <input type="text" id="msg" name="user_message" />
</form>
